.logout-box {
    max-width: 80px !important;
    display: flex;
    justify-content: center !important;
    max-height: 40px;
    margin-right: 10px !important;
    margin-left: 10px;
}
.account {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 25px;
}

.account-center {
    min-width: 50%;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.no-reviews {
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-decoration: underline;
}

.user-details {
    padding: 20px;
    max-width: 200px !important;
    align-items: flex-start;
    overflow: hidden;
    height: 160px;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.user-details label {
    color: rgba(0, 0, 0, 0.573);
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: height 0.3s ease-in-out;
}

label b {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 16px;
}

.myaccount-title {
    text-align: center;
}

.user-details:hover {
    white-space: normal;
    overflow: visible;
    width: 100%;
}

h2 {
    margin-top: 15px;
    color: var(--primary-color);
}

