:root {
  --primary-color: #1f222b;
  --secondary-color: #8f9294;
  --tertiary-color: #a4bcc4;
  --quaternary-color: #045804;
  --quinary-color: #d9e0e2;
}

body {
  margin: 0;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
}

* {
  color: #fff;
  margin: 0;
}

p {
  margin: 20px 0;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

button {
  display: flex;
  align-items: center;
  min-width: 45px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  background-color: var(--primary-color);
}

button:hover {
  cursor: pointer;
  color: #8f9294;
}

/* nav bar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 5;
  padding-left: 20px;
  padding-right: 20px;
}

header nav a {
  border-radius: 4px;
  padding: 6px;
  text-decoration: none;
  z-index: 5;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--tertiary-color);
  z-index: 5;
}

header nav a.active {
  background: var(--primary-color);
}

/* main content */

main {
  margin: 0;
  background-color: var(quaternary-color);
  display: flex;
  justify-content: center;
}
.App {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-container {
  width: 15%;
  min-width: 150px;
  background-color: var(--quinary-color);
  color: black !important;
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.center-container {
  background-color: var(--quinary-color);
  border-radius: 10px;
  padding-left: 20px;
  max-width: 800px;
  margin-top: 30px;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.right-container {
  width: 20%;
  padding-left: 20px;
  margin-top: 30px;
  max-width: 400px;
}

/* all items page */
.main-img {
  width: 100%;
  margin-top: -200px;
  max-width: 1250px;
  min-height: 500px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-left {
  max-height: 130px;
  display: flex;
  align-items: center;
}
.main-header {
  margin-top: -25%;
  padding-left: 10px;
}

.home-content {
  display: flex;
  width: 95%;
  justify-content: center;
  margin-bottom: 20px;
}

.search-header {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  margin-top: 25px;
}

.search-input {
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: var(--secondary-color);
}

.search-button {
  padding: 8px 15px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 75px;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

.search-button:hover {
  background-color: #0056b3;
}
.admin-btn-box {
  background-color: var(--quinary-color);
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* min-height: 100px; */
}
.admin-user-btn {
  display: flex;
  margin-top: 20px;
  width: 100%;

  /* color: var(--primary-color); */
}
.admin-items-btn {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

i {
  margin-right: 10px;
}

.items-header {
  text-decoration: overline;
  font-weight: bold;
  margin: 10px;
  color: var(--primary-color);
  width: 250px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.all-items {
  background-color: var(--quinary-color);
  border-radius: 10px;
  padding-left: 20px;
  max-width: 800px;
  margin-top: 30px;
  width: 65%;
}

.single-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  color: var(--primary-color);
}

.single-item-rating {
  padding-right: 30px;
  color: var(--primary-color);
  font-weight: bold;
}
.single-item-title {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.single-item-title:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.no_reviews {
  font-size: 10px;
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
}

.star-mainpage {
  width: 15px;
}

.stars-div-main {
  min-width: 80px;
  width: 80px;
}

/* this is for green btn, like on login page */
.green-btn {
  background: var(--quaternary-color);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.green-btn:hover {
  background: #05541d;
}

/* Place the login in the center */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-direction: column;
}

/* this is form container */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-direction: column;

  border: 2px solid #000;
  padding: 4rem;
  border-radius: 10px;

  width: 600px;
}

.email-lable {
  margin-left: 5ch;
}

.text-link {
  color: #007bff;
  text-decoration: underline;
  font-weight: bold;
}

/* single item */
.item-category {
  color: var(--primary-color);
  margin-top: 20px;
}

.item-category b {
  color: var(--secondary-color);
}

.right-image {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease, z-index 0s ease 0.3s;
  transform-origin: top right; /* This will make the item grow down and to the left */
}

.right-image:hover {
  border: var(--quaternary-color) 1px solid;
}

.right-image.enlarged {
  transform: scale(4); /* Adjust the scale factor as needed */
  z-index: 1; /* Ensure the enlarged item appears above others */
  transition: transform 0.3s ease, z-index 0s ease 0s;
}

.review-overview {
  width: 150px;
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid var(--primary-color);
  padding: 2px;
}

.star-category {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.star-category img {
  min-width: 15px;
}

.star-category h6 {
  font-size: 15px;
  color: var(--primary-color);
}

.star-box {
  display: flex;
}

.average div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.average h5 {
  color: var(--secondary-color);
}

.average div h2 {
  padding-left: 5px;
  color: var(--quaternary-color);
}

#left-container-single-item {
  height: 260px;
  min-width: 200px;
  display: flex;
  align-items: center;
}

#center-container-single-item h2 {
  margin-top: 10px;
  color: var(--primary-color);
  text-transform: uppercase;
  padding-right: 20px;
}

#center-container-single-item h4 {
  text-decoration: underline;
  text-align: center;
  color: var(--primary-color);
}

#center-container-single-item {
  max-width: 800px;
  padding-bottom: 20px;
}

#center-container-single-item h2 {
  text-align: center;
}

.item-description {
  padding-right: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.item-description p {
  color: var(--quaternary-color);
}

.item-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.item-reviews h4 {
  margin-bottom: 20px;
}

.star-icon-edit {
  width: 20px;
  margin-left: 3px;
}

.first-line-review {
  display: flex;
  align-items: center;
}

.first-line-review h6 {
  margin-right: 20px;
}

.review {
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 80%;
}
.review h5,
.review p,
.review h6 {
  color: #1f222b;
}

.item-reviews a {
  color: var(--quaternary-color);
}

.review p {
  padding-right: 20px;
}

.item-comments h5 {
  text-decoration: overline;
  color: var(--primary-color);
  text-align: center;
  margin-top: 40px;
}

.item-comments {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.comment {
  border: var(--primary-color) solid 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 10px;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.comment p,
.comment h6 {
  color: var(--primary-color);
}

.item-reviews button {
  margin-bottom: 20px;
  background-color: var(--quaternary-color);
}

.num-input {
  color: var(--primary-color) !important;
  margin: 20px 0px;
}

.text-input {
  width: 90%;
  color: var(--primary-color);
}

.text-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.comment-form button {
  margin-top: 10px;
}

.comment-form a {
  color: var(--quaternary-color);
}

.no-comment {
  margin-left: 20px;
  color: var(--secondary-color) !important;
}

.button_box_reviews {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.button_box_comments {
  display: flex;
  justify-content: center;
}

.button_box_items {
  display: flex;
  justify-content: center;
}

.delete_button {
  margin: 5px;
  background-color: red !important;
}

.edit_button {
  margin: 5px;
  background-color: #333 !important;
}

.item_input_title {
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 20px;
  align-self: center;
  margin-right: 20px;
}

.item_input_description {
  margin-bottom: 20px;
}

.items_a {
  color: var(--quaternary-color) !important;
  margin-bottom: 20px;
}

.cat_input {
  width: 90px;
}

.cat_select,
.input_image {
  color: var(--primary-color);
}
.star-icon-review {
  padding-top: 20px;
  width: 20px;
  margin-left: 3px;
}



/* another page */

/* another thing */

/* another thing again */

/* everything below is from the starter code */
/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
} */

/* Add more styling for other elements if needed */
